html, body {

}
header{
	height: 60px;
	background-color: $header-bg;
}
footer{
	min-height: 400px;
	background-color: $footer-bg;
}

#container{
	min-height: 500px;
}
.rooms{
	padding: 40px;
}
.anime{
	figure{
    display: inline-block;
    min-width: 160px;
    min-height: 220px;
    border: 5px solid #fff;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	}
}